/*Body*/
.body-container{
    margin-top: -20px;
    max-width: 100%;
    height: 100vh;
    background-color: #79A9D1;
    }
	@media (max-width:1500px){
        .body-container{
            height: 680vh;
        }
    }
	@media (max-width:1499px){
        .body-container{
            height: 710vh;
        }
    }
	@media (max-width:1150px){
        .body-container{
            height: 1020vh;
        }
    }
	@media (max-width:762px){
        .body-container{
            height: 1970vh;
        }
    }

/**/

.search-wrapper{
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 32px;
    text-align: center;
    gap: .25rem;
    width: 700px;
    padding-left: 200px;
	
}

.user-cards {
	width: 95vw;
	overflow-x: hidden;
	margin: 0 auto;
	margin-top: 20px;
    flex-direction: column;
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  
}
/**.card{
	width: 200px;
	height: 550px;
	margin-bottom: 50px;
}**/
.card{
width: 200px;
height: 350px;
font-weight: bold;
text-transform: uppercase;
border: #000 solid 2px;
padding-left: 5px;
margin-bottom: 50px;
}
.item {
	display: inline-block;
	position: relative;
	width: 300px;
	height: 550px;
	border-radius: 3px;
	background-color:#000;
	box-shadow: 3px 4px 12px 1px white;
	
 
}
.hide {
	display: none;
  }

.item-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.diamond-container {
	position: absolute;
	margin-top: -20px;
	margin-left: -20px;
	transition: all 0.3s ease-out;
}

.diamond {
	margin-left: 40px;
	margin-top: 40px;
	width: 80px;
	height: 80px;
	background: #555;
	overflow: hidden;
	color: #fff;
	font-weight: 500;
	font-size: 1.25em;
	letter-spacing: -0.5px;
	transform: rotate(45deg);
	transition: all 0.3s ease-out;
}

.diamond-wrapper {
	margin-top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.diamond-content {
	transform: rotate(-45deg);
}

.content-wrapper {
	width: 95%;
	margin: 0 auto;
	margin-top: 20px;
	transition: all 0.3s ease-out;
}

.img-container {
	position: relative;
	width: 100%;
	min-height: 200px;
	margin-top: 80px;
}

.bg-square {
	position: absolute;
	width: 135px;
	height: 130px;
	border: 12px solid transparent;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.item-img {
	position: absolute;
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-top: 80px;
	left: 0;
	right: 0;
}

.content-text {
	position: relative;
	width: 100%;
	margin-top: 20px;
}

.item-name {
	font-weight: 400;
	font-size: 1.35em;
	text-transform: uppercase;
	text-align: center;
    color: #fff;
}

.item-subtext-container {
	width: 70%;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 0.8em;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #bbb;
	text-align: center;
}
 
.view-more-btn {
	position:absolute;
	bottom: 0;
	display: block;
	width:100%;
	height: 35px;
	background: #333;
	color: #fff;
	font-size: 0.85em;
	text-transform: uppercase;
	letter-spacing: 3px;
	word-spacing: 3px;
	text-align: center;
	padding-top: 10px;
	user-select:none !important ;
	cursor: pointer;
	z-index: 3;
	transition: all 0.3s ease-out;
}

.item-details-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 0;
	background: rgb(160, 157, 157);
	z-index: 2;
	color: #030303;
	transition: all 0.3s ease-out;

}

.details-content-wrapper {
	position: relative;
	width: 85%;
	margin: 0 auto;
	margin-top: 70px;
}

.detail {
	margin-top: 5px;
}

.detail-desc {
	margin-top: 9px;
}

.detail-title {
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 0.8em;
}

.detail-text {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0;
	font-size: 0.85em;
}

.detail-description {
	width: 95%;
	padding-left: 2.5%;
	padding-top: 2px;
	font-size: 0.9em;
	font-weight: 300;
	line-height: 1.2em;
}

.detail-manual-link {
	margin-top: 8px;
	padding-left: 2.5%;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
	user-select: none !important;
}

.manual-icon-container {
	display: inline-block;
	margin-right: 5px;
}

.manual-svg {
	width: 15px;
	height: auto;
}

.manual-link-text {
	position: absolute;
	display: inline-block;
	padding-top: 2px;
	padding-left: 3px;
}

.delivery-container {
	margin-top: 15px;
}


.detail-gallery {
	display: inline-block;
	width: 800px;
	overflow: hidden;
}

.thumb-link {
	display: inline-block;
	width: 130px;
	height: 250px;
	overflow: hidden;
	box-shadow: 2px 4px 12px rgba(0,0,0,0.35);
}

.thumb-overlay {
	position: absolute;
	width: 50px;
	height: 40px;
	padding-top: 10px;
	background: rgba(51,51,51,0.65);
	color: #fff;
	font-size: 2em;
	font-weight: 500;
	text-align: center;
	text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}

.detail-thumb {
	width:200px;
	height: 200px;
}

.detail-price-container {
	display: inline-block;
	position: relative;
	float: right;
	width: calc(100% - 175px);
	text-align: right;
	padding-right: 20px;
	
}

.price-subtext {
	font-weight: 300;
	font-size: 0.65em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.price-text {
	font-weight: 500;
	font-size: 1em;
	letter-spacing: -0.5px;
	padding-top: 5px;
}


/*START ITEM ACTIVE STYLES*/

.item.active > .diamond-container {
	margin-top: 0;
	margin-left: 0;
	transition: 0.3s ease-out;
}

.item.active > .diamond-container > .diamond {
	transform: rotate(0deg);
	margin-top: 0;
	margin-left: 0;
	height: 0;
	transition: 0.3s ease-out;
}

.item.active > .item-wrapper > .content-wrapper {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition: 0.3s ease-out;
}

.item.active > .item-wrapper > .view-more-btn {
	bottom: calc(100% - 55px);
	transition: 0.3s ease-out;
}

.item.active > .item-wrapper > .item-details-container {
	height: 100%;
	transition: all 0.3s ease-out;
}
/*Footer section Formatting*/
.footer_container{
    background-color: #100F0F;
    padding: 5 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .footer_links{
        width: 100%;
        max-width: 1000px;
        display: flex;
        justify-content: center;
    }
    .footer_link--wrapper{
       display: flex;
    }
    .footer_link--items{
        display: flex;
        position: relative;
        right: -50px;
        flex-direction: column;
        align-items: flex-start;
        margin: 16px;
        text-align: left;
        width: 160px;
        box-sizing: border-box;
    }
    .footer_link--items h2{
        margin-bottom: 16px;
    }
    .footer_link--items > h2{
        color: #fff;
    }
    .footer_link--items a{
      color: #fff;
      text-decoration: none;
      margin-bottom:.5rem ;
    }
    .footer_link--items a:hover{
        color: #f77062;
        transition: .4s ease-out;
    }
    .social_icon--link{
        color: #fff;
        font-size: 24px;
    }
    .social_media{
        max-width: 1000px;
        width: 100%;
    }
    .social_media--wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 1000px;
        margin: 40px auto 0 auto;
    }

    .social_media--wrap p{
        color: #fff;
        position: relative;
        right: 50px;
    
    }
    .social_icons a:hover{
        transform: scale(2.2);
        transition: .15s ease-in;
    }
